
--


CREATE TABLE `Activities` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `Action` varchar(255) NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;


CREATE TABLE `ActivityAndLocations` (
  `ActivityId` int(11) NOT NULL,
  `LocationActivityId` int(11) NOT NULL,
  PRIMARY KEY (`ActivityId`,`LocationActivityId`),
  KEY `IX_ActivityAndLocations_LocationActivityId` (`LocationActivityId`),
  CONSTRAINT `FK_ActivityAndLocations_Activities_ActivityId` FOREIGN KEY (`ActivityId`) REFERENCES `Activities` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_ActivityAndLocations_LocationActivities_LocationActivityId` FOREIGN KEY (`LocationActivityId`) REFERENCES `LocationActivities` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;


CREATE TABLE `Bookings` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `ScheduleId` int(11) NOT NULL,
  `UserId` int(11) NOT NULL,
  `StatusId` int(11) NOT NULL,
  `NumPeople` int(11) NOT NULL,
  `Code` longtext NOT NULL,
  `Email` longtext NOT NULL,
  `Phone` longtext NOT NULL,
  `TotalPrice` int(11) NOT NULL,
  `CountChangeLeft` int(11) NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_Bookings_ScheduleId` (`ScheduleId`),
  KEY `IX_Bookings_StatusId` (`StatusId`),
  KEY `IX_Bookings_UserId` (`UserId`),
  CONSTRAINT `FK_Bookings_Schedules_ScheduleId` FOREIGN KEY (`ScheduleId`) REFERENCES `Schedules` (`Id`),
  CONSTRAINT `FK_Bookings_Status_StatusId` FOREIGN KEY (`StatusId`) REFERENCES `Status` (`Id`),
  CONSTRAINT `FK_Bookings_Users_UserId` FOREIGN KEY (`UserId`) REFERENCES `Users` (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;


CREATE TABLE `DayActivities` (
  `DayOfTourId` int(11) NOT NULL,
  `ActivityId` int(11) NOT NULL,
  `LocationActivityId` int(11) NOT NULL,
  `time` datetime(6) NOT NULL,
  PRIMARY KEY (`DayOfTourId`,`ActivityId`,`LocationActivityId`),
  KEY `IX_DayActivities_ActivityId` (`ActivityId`),
  KEY `IX_DayActivities_LocationActivityId` (`LocationActivityId`),
  CONSTRAINT `FK_DayActivities_Activities_ActivityId` FOREIGN KEY (`ActivityId`) REFERENCES `Activities` (`Id`),
  CONSTRAINT `FK_DayActivities_DayOfTours_DayOfTourId` FOREIGN KEY (`DayOfTourId`) REFERENCES `DayOfTours` (`Id`),
  CONSTRAINT `FK_DayActivities_LocationActivities_LocationActivityId` FOREIGN KEY (`LocationActivityId`) REFERENCES `LocationActivities` (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;


CREATE TABLE `DayOfTours` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `TourId` int(11) NOT NULL,
  `Day` int(11) NOT NULL,
  `Title` varchar(255) NOT NULL,
  `Description` varchar(255) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_DayOfTours_TourId` (`TourId`),
  CONSTRAINT `FK_DayOfTours_Tours_TourId` FOREIGN KEY (`TourId`) REFERENCES `Tours` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Favorites`
--

DROP TABLE IF EXISTS `Favorites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Favorites` (
  `UserId` int(11) NOT NULL,
  `TourId` int(11) NOT NULL,
  PRIMARY KEY (`TourId`,`UserId`),
  KEY `IX_Favorites_UserId` (`UserId`),
  CONSTRAINT `FK_Favorites_Tours_TourId` FOREIGN KEY (`TourId`) REFERENCES `Tours` (`Id`),
  CONSTRAINT `FK_Favorites_Users_UserId` FOREIGN KEY (`UserId`) REFERENCES `Users` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Guides`
--

DROP TABLE IF EXISTS `Guides`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Guides` (
  `StaffId` int(11) NOT NULL,
  `ScheduleId` int(11) NOT NULL,
  PRIMARY KEY (`ScheduleId`,`StaffId`),
  KEY `IX_Guides_StaffId` (`StaffId`),
  CONSTRAINT `FK_Guides_Schedules_ScheduleId` FOREIGN KEY (`ScheduleId`) REFERENCES `Schedules` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_Guides_Staffs_StaffId` FOREIGN KEY (`StaffId`) REFERENCES `Staffs` (`UserId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Helpfuls`
--

DROP TABLE IF EXISTS `Helpfuls`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Helpfuls` (
  `UserId` int(11) NOT NULL,
  `ReviewId` int(11) NOT NULL,
  PRIMARY KEY (`ReviewId`,`UserId`),
  KEY `IX_Helpfuls_UserId` (`UserId`),
  CONSTRAINT `FK_Helpfuls_Reviews_ReviewId` FOREIGN KEY (`ReviewId`) REFERENCES `Reviews` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_Helpfuls_Users_UserId` FOREIGN KEY (`UserId`) REFERENCES `Users` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `LocationActivities`
--

DROP TABLE IF EXISTS `LocationActivities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `LocationActivities` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `PlaceId` int(11) NOT NULL,
  `Name` varchar(255) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_LocationActivities_PlaceId` (`PlaceId`),
  CONSTRAINT `FK_LocationActivities_Places_PlaceId` FOREIGN KEY (`PlaceId`) REFERENCES `Places` (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Locations`
--

DROP TABLE IF EXISTS `Locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Locations` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `Name` varchar(255) NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Notifications`
--

DROP TABLE IF EXISTS `Notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Notifications` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `UserId` int(11) NOT NULL,
  `Content` longtext NOT NULL,
  `IsRead` tinyint(1) NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_Notifications_UserId` (`UserId`),
  CONSTRAINT `FK_Notifications_Users_UserId` FOREIGN KEY (`UserId`) REFERENCES `Users` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Places`
--

DROP TABLE IF EXISTS `Places`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Places` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `LocationId` int(11) NOT NULL,
  `Name` varchar(255) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_Places_LocationId` (`LocationId`),
  CONSTRAINT `FK_Places_Locations_LocationId` FOREIGN KEY (`LocationId`) REFERENCES `Locations` (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Reviews`
--

DROP TABLE IF EXISTS `Reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Reviews` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `UserId` int(11) NOT NULL,
  `Rating` int(11) NOT NULL,
  `Content` varchar(10000) NOT NULL,
  `ScheduleId` int(11) NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_Reviews_ScheduleId` (`ScheduleId`),
  KEY `IX_Reviews_UserId` (`UserId`),
  CONSTRAINT `FK_Reviews_Schedules_ScheduleId` FOREIGN KEY (`ScheduleId`) REFERENCES `Schedules` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_Reviews_Users_UserId` FOREIGN KEY (`UserId`) REFERENCES `Users` (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Roles`
--

DROP TABLE IF EXISTS `Roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Roles` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `Title` varchar(255) NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Schedules`
--

DROP TABLE IF EXISTS `Schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Schedules` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `TourId` int(11) NOT NULL,
  `StartDate` datetime(6) NOT NULL,
  `EndDate` datetime(6) NOT NULL,
  `OpenDate` datetime(6) NOT NULL,
  `MaxSlot` int(11) NOT NULL,
  `FinalPrice` int(11) NOT NULL,
  `GatheringTime` datetime(6) NOT NULL,
  `Code` varchar(20) NOT NULL,
  `Desposit` int(11) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_Schedules_TourId` (`TourId`),
  CONSTRAINT `FK_Schedules_Tours_TourId` FOREIGN KEY (`TourId`) REFERENCES `Tours` (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Staffs`
--

DROP TABLE IF EXISTS `Staffs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Staffs` (
  `UserId` int(11) NOT NULL,
  `Code` varchar(20) NOT NULL,
  `IsActive` tinyint(1) NOT NULL,
  `CCCD` varchar(50) NOT NULL,
  `Address` varchar(50) NOT NULL,
  `DateOfBirth` datetime(6) NOT NULL,
  `StartWorkingDate` datetime(6) NOT NULL,
  `CCCDIssueDate` datetime(6) NOT NULL,
  `CCCD_front_path` varchar(255) NOT NULL,
  `CCCD_back_path` varchar(255) NOT NULL,
  `EndWorkingDate` datetime(6) NOT NULL,
  PRIMARY KEY (`UserId`),
  CONSTRAINT `FK_Staffs_Users_UserId` FOREIGN KEY (`UserId`) REFERENCES `Users` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Status`
--

DROP TABLE IF EXISTS `Status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Status` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `Name` varchar(50) NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `TourImages`
--

DROP TABLE IF EXISTS `TourImages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `TourImages` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `TourId` int(11) NOT NULL,
  `Path` varchar(255) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_TourImages_TourId` (`TourId`),
  CONSTRAINT `FK_TourImages_Tours_TourId` FOREIGN KEY (`TourId`) REFERENCES `Tours` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `TourLocations`
--

DROP TABLE IF EXISTS `TourLocations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `TourLocations` (
  `TourId` int(11) NOT NULL,
  `LocationId` int(11) NOT NULL,
  PRIMARY KEY (`TourId`,`LocationId`),
  KEY `IX_TourLocations_LocationId` (`LocationId`),
  CONSTRAINT `FK_TourLocations_Locations_LocationId` FOREIGN KEY (`LocationId`) REFERENCES `Locations` (`Id`),
  CONSTRAINT `FK_TourLocations_Tours_TourId` FOREIGN KEY (`TourId`) REFERENCES `Tours` (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Tours`
--

DROP TABLE IF EXISTS `Tours`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Tours` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `TotalRevenue` int(11) NOT NULL,
  `PercentDeposit` int(11) NOT NULL,
  `Day` int(11) NOT NULL,
  `Title` varchar(255) NOT NULL,
  `Price` int(11) NOT NULL,
  `Description` varchar(255) NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `UserCompletedSchedules`
--

DROP TABLE IF EXISTS `UserCompletedSchedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `UserCompletedSchedules` (
  `UserId` int(11) NOT NULL,
  `ScheduleId` int(11) NOT NULL,
  PRIMARY KEY (`ScheduleId`,`UserId`),
  KEY `IX_UserCompletedSchedules_UserId` (`UserId`),
  CONSTRAINT `FK_UserCompletedSchedules_Schedules_ScheduleId` FOREIGN KEY (`ScheduleId`) REFERENCES `Schedules` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_UserCompletedSchedules_Users_UserId` FOREIGN KEY (`UserId`) REFERENCES `Users` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Users`
--

DROP TABLE IF EXISTS `Users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Users` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `RoleId` int(11) NOT NULL,
  `Password` varchar(255) NOT NULL,
  `Money` int(11) NOT NULL,
  `BankNumber` varchar(30) NOT NULL,
  `Bank` varchar(255) NOT NULL,
  `Name` varchar(255) NOT NULL,
  `Phone` varchar(11) NOT NULL,
  `AvatarPath` varchar(255) NOT NULL,
  `BankBranch` varchar(255) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_Users_RoleId` (`RoleId`),
  CONSTRAINT `FK_Users_Roles_RoleId` FOREIGN KEY (`RoleId`) REFERENCES `Roles` (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;


CREATE TABLE `__EFMigrationsHistory` (
  `MigrationId` varchar(150) NOT NULL,
  `ProductVersion` varchar(32) NOT NULL,
  PRIMARY KEY (`MigrationId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
